/* ===================================
    Cursor
====================================== */

.cursor__follower svg #inner {
    stroke-width: 2px;
    stroke: #F9DD50;
    opacity: .6;
}

.cursor__follower svg #outter {
    stroke-width: 4px;
    stroke: #DCAA37;
}