/* ======================================================================== */
/* Burger Menu (Extra Line, change animation)*/
/* ======================================================================== */

.header__burger:not(.header__burger_opened):hover .header__burger-line:nth-child(1) {
  -webkit-transform: scaleX(1.25);
  transform: scaleX(1.25);
}

.header__burger:not(.header__burger_opened):hover .header__burger-line:nth-child(2) {
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
}

.header__burger:not(.header__burger_opened):hover .header__burger-line:nth-child(3) {
  -webkit-transform: scaleX(2);
  transform: scaleX(2);
}

.header__burger_opened .header__burger-line {
  background-color: #ffffff;
}

.header__burger_opened .header__burger-line:nth-child(1) {
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
}

.header__burger_opened .header__burger-line:nth-child(2) {
  -webkit-transform: scaleX(1.25);
  transform: scaleX(1.25);
}

.header__burger_opened .header__burger-line:nth-child(3) {
  -webkit-transform: scaleX(1.75);
  transform: scaleX(1.75);
}

.header__burger_opened:hover .header__burger-line:nth-child(1) {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header__burger_opened:hover .header__burger-line:nth-child(2) {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header__burger_opened:hover .header__burger-line:nth-child(3) {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header__burger-line:nth-child(1) {
  max-width: 60px;
}

.header__burger-line:nth-child(2) {
  max-width: 45px;
  margin-right: 45%;
}

.header__burger-line:nth-child(3) {
  max-width: 25px;
}

.header__burger-line {
  background-color: #ffffff !important
}