//Colors - fexco
$purple: #5C267B;
$red: #D11A17;
$aquablue: #7CA5AA;
$grey: #C3C4C6;
$blue: #B9DACF;

$white: #ffffff;
$bg-light: #f2f2f2;
$bg-light-grey: #f9f9f9;

$primary: #5A2678;
$secondary: #7BA5AA;
$third: #B9DAD0;
$fourth: #5C267B;
$fifth: #7EA8AD;

$greenOverlay: #40F5C5;